.hikesMap{
    position: relative;
    padding: var(--section-padding-top) 0 calc(var(--section-padding-top) * 3) 0;
}

.map{
    width: 80%;
    height: 35vw;
    border: 5px solid var(--primary-hiking);
    border-radius: 4px;
}

.filtersWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding-bottom: 2vw;
}


.filter{
    position: relative;
    border: none;
    border-radius: 999px;
    font-family: var(--primary-font);
    color: white;
    background-color: var(--primary-hiking);
    font-size: 2rem;
    padding: 1vw 2vw;
    display: inline-block;
    width: 15vw;
    appearance: button;
}

.searchWrapper input{
    position: relative;
    border-radius: 999px;
    font-family: var(--primary-font);
    font-size: 2rem;
    padding: 1vw 2vw;
    display: inline-block;
    width: 15vw;
    appearance: button;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    color: var(--secondary-hiking);
    
}

.searchWrapper{
    position: relative;
}

.searchWrapper ul, .searchLocWrapper ul{
    position: absolute;
    top: 100%;
    left:0;
    list-style-type: none;
    width: 100%;
    max-height: 12vw;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #036459ee;
    z-index: 999;
}

.searchWrapper ul li, .searchLocWrapper ul li{
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-hiking);
    padding: 0.6vw 0.4vw;
}

.searchLocWrapper ul{
    background-color:rgba(255,255,255,.9);
    width: 120%;
    left: -10%;
}

.searchLocWrapper ul li{
    color: var(--primary-hiking);
     border-bottom: 1px solid var(--primary-hiking);
}

.searchLocWrapper{
    position: relative;
}

.activeFilter::after{
     content: '';
     display: inline-block;
     position: absolute;
     bottom: -12px;
     left: 0;
     width: 100%;
     height: 6px;
     border-radius: 999px;
     background-color: var(--secondary-hiking);
}

.distanceWrapper{
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.distanceContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    width: 60%;
    padding: 2vw 4vw;
    border-radius: 5px;
    background-color: var(--primary-hiking);
    color: white;
    font-size: 2rem;
}

.distanceInput{
    width: 5vw;
    padding: 0.2vw 0;
    font-size: 2rem;
    font-family: var(--primary-font);
    text-align: center;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
}

.distanceInput::placeholder, .startLocInput::placeholder{
    color: rgba(255,255,255,.8);
}

.startLocInput, .getLoc{
     width: 10vw;
    padding: 0.2vw 0;
    font-size:1rem;
    font-family: var(--primary-font);
    text-align: center;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
}

.startLoc .getLoc{
    background-color: white;
    border-color: transparent;
    color: var(--primary-hiking);
}

.startLoc{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}



/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
.map{
    width: 90%;
    height: 60vw;
}
.filtersWrapper{
    padding-bottom: 3vw;
}


.filter{
    font-size: 1.8rem;
}

.distanceWrapper{
    padding-top: 3vw;
}

.distanceContainer{
    gap: 1.2vw;
    width: 80%;
    padding: 3vw 4vw;
    font-size: 1.8rem;
}

.distanceInput{
    width: 8vw;
    padding: 0.3vw 0;
    font-size: 1.8rem;
}

.startLocInput, .getLoc{
     width: 15vw;
}

.startLoc{
    gap: 0.8vw;
}
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
.map{
    width: 100%;
    height: 80vw;
}

.filtersWrapper{
    padding-bottom: 5vw;
}


.filter{
    font-size: 1.6rem;
    padding: 1.5vw 3vw;
}

.distanceWrapper{
    padding-top: 4vw;
}

.distanceContainer{
    gap: 1.6vw;
    width: 90%;
    padding: 4vw 5vw;
    font-size: 1.2rem;
}

.distanceInput{
    width: 10vw;
    padding: 0.3vw 0;
    font-size: 1.2rem;
}

.startLocInput, .getLoc{
     width: 16vw;
}

.startLoc{
    gap: 0.8vw;
}

}